<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  {% include 'head.html' %}

  <title>LIT Lab Learning Portal</title>

  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>

  <style>
    button:focus {
      outline: 0;
    }
  </style>
</head>

<body class="h-100" style="background-color: #F8F8F9;">

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-9 col-sm-9 col-md-7 col-lg-5 shadow py-4 px-5 bg-white " style="border-radius: 20px;">
        <div class="text-center">
          <img src="{{url_for('static', filename='img/LIT_Logo_Bulb.png')}}" style="height: 100px;" />
        </div>
        <h1 class="text-center mt-1 mb-5"> Welcome </h1>
        <form action="javascript:signIn()">
          <div class="form-group">
            <input autocomplete="username" id="email" required name="email" type="email" class="form-control shadow-none px-4 py-4 rounded-pill" style="background-color: #EFEFEF; border: none;" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input autocomplete="current-password" id="password" required name="password" type="password" class="form-control shadow-none px-4 py-4 rounded-pill" style="background-color: #EFEFEF; border: none;" placeholder="Password">
            <small class="form-text text-right mt-2"><a href="/passwordrecovery" class="text-muted"> Forgot password? </a></small>
          </div>

          <div class="mx-2">
            <small id="danger" class="text-danger"></small>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn py-2 px-4 rounded-pill" style="background-color: #1974E8; color: white;">Sign In</button>
          </div>
          <small class="form-text text-muted text-center mt-2">Don’t have an account? <span> <a href="/signup" style="color: #1974E8"> Sign up </a> </span></small>
        </form>
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='signin.js')}}"></script>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>